@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700');

html {
    font-size: 62.5%;
}

/*COLORS*/
.bg-color-name-title {
    background-color: #676767;
}

/*HEADING*/
header {
    margin: 0;
}

.heading {
    margin-left: 5rem;
}

.logo {
    background: url(/assets/images/rosie.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 36rem;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
}

.name {
    font-family: "Exo", sans-serif;
    font-weight: 100;
    font-size: 4.6rem;
    margin-top: 5rem;
    color: #fff;
}

.title {
    font-family: "Roboto", sans-serif;
    font-weight: 200;
    font-size: 2.8rem;
    margin-top: 2rem;
    margin-bottom: 9rem;
    color: #fff;
}